[submodule "cli"]
	path = cli
	url = git@github.com:Max-Moro/lg-cli.git
[submodule "vscode"]
	path = vscode
	url = git@github.com:Max-Moro/lg-vscode.git
[submodule "intellij"]
	path = intellij
	url = git@github.com:Max-Moro/lg-intellij.git
